{
	"openapi": "3.1.1",
	"info": {
		"title": "API Авторизация. Пользователи. Файлы.",
		"version": "1.0",
		"contact": {
			"email": "unite-tech@yandex.ru"
		}
	},
	"servers": [
		{
			"url": "https://api.unitetech.ru"
		}
	],
	"tags": [
		{
			"name": "auth",
			"description": "Авторизация"
		},
		{
			"name": "user",
			"description": "Работа с пользователями"
		},
		{
			"name": "role",
			"description": "Работа с ролями пользователей"
		},
		{
			"name": "file",
			"description": "Работа с ролями пользователей"
		}
	],
	"paths": {
		"/api/auth/email/code": {
			"post": {
				"tags": [
					"auth"
				],
				"summary": "Код авторизации",
				"description": "Запрос кода авторизации на электронную почту",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AuthEmailCodeRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK"
					},
					"default": {
						"description": "Error",
						"content": {							
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/auth/email/confirm": {
			"post": {
				"tags": [
					"auth"
				],
				"summary": "Авторизация пользователя",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AuthEmailConfirmRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AuthJwtTokens"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/auth/refresh": {
			"post": {
				"tags": ["auth"],
				"summary": "Обновление токенов",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AuthRefreshRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AuthJwtTokens"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/user": {
			"post": {
				"tags": ["user"],
				"summary": "Создать пользователя",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/{id}": {
			"get": {
				"tags": ["user"],
				"summary": "Получить пользователя",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"description": "Идентификатор",
						"schema":{
							"type":"integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"user"
				],
				"summary": "Обновить пользователя",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"description": "Идентификатор",
						"schema": {
							"type": "integer"
						}
					}
				],
				"requestBody":{
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"user"
				],
				"summary": "Удалить пользователя",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"description": "Идентификатор",
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/user/all": {
			"get": {
				"tags": [
					"user"
				],
				"summary": "Получить пользователей",
				"parameters": [
					{
						"in": "query",
						"name": "limit",
						"required": false,
						"description": "Количество",
						"schema": {
							"type": "integer"
						}
					},
					{
						"in": "query",
						"name": "offset",
						"required": false,
						"description": "Отступ",
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type":"object",
									"properties": {
										"list": {
											"type":"array",
											"items": {
												"$ref": "#/components/schemas/User"
											}
										},
										"count": {
											"type":"integer",
											"example": "0"
										}
									}
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/role": {
			"post": {
				"tags": [
					"role"
				],
				"summary": "Создать роль",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RoleData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Role"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/role/{id}": {
			"get": {
				"tags": [
					"role"
				],
				"summary": "Получить роль",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"description": "Идентификатор",
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Role"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"role"
				],
				"summary": "Обновить роль",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"description": "Идентификатор",
						"schema": {
							"type": "integer"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RoleData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Role"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"role"
				],
				"summary": "Удалить роль",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"description": "Идентификатор",
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Role"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/role/all": {
			"get": {
				"tags": [
					"role"
				],
				"summary": "Получить роли",
				"parameters": [
					{
						"in": "query",
						"name": "limit",
						"required": false,
						"description": "Количество",
						"schema": {
							"type": "integer"
						}
					},
					{
						"in": "query",
						"name": "offset",
						"required": false,
						"description": "Отступ",
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"list": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Role"
											}
										},
										"count": {
											"type": "integer",
											"example": "0"
										}
									}
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/file": {
			"post": {
				"tags": [
					"file"
				],
				"summary": "Загрузить файл",
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"type":"object",
								"required": ["file"],
								"properties": {
									"file": {
										"type": "string",
										"format": "binary"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/File"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/file/{id}": {
			"get": {
				"tags": [
					"file"
				],
				"summary": "Получить файл",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"description": "Идентификатор",
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/File"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"file"
				],
				"summary": "Удалить файл",
				"parameters": [
					{
						"in": "path",
						"name": "id",
						"required": true,
						"description": "Идентификатор",
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/File"
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		},
		"/api/file/all": {
			"get": {
				"tags": [
					"file"
				],
				"summary": "Получить файлы",
				"parameters": [
					{
						"in": "query",
						"name": "limit",
						"required": false,
						"description": "Количество",
						"schema": {
							"type": "integer"
						}
					},
					{
						"in": "query",
						"name": "offset",
						"required": false,
						"description": "Отступ",
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"list": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/File"
											}
										},
										"count": {
											"type": "integer",
											"example": "0"
										}
									}
								}
							}
						}
					},
					"default": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorData"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"GeneralData": {
				"type":"object",
				"required": ["id", "createdAt", "updatedAt"],
				"properties": {
					"id": {
						"type":"integer",
						"example": 1
					},
					"createdAt": {
						"type": "string",
						"example": "2000-00-00 00:00:00.0+00"
					},
					"updatedAt": {
						"type": "string",
						"example": "2000-00-00 00:00:00.0+00"
					},
					"deletedAt": {
						"type": "string",
						"example": "2000-00-00 00:00:00.0+00"
					}
				}
			},
			"ErrorData": {
				"type":"object",
				"required": ["message"],
				"properties": {
					"message": {
						"type": "string"
					}
				}
			},
			"AuthEmailCodeRequest": {
				"type":"object",
				"required": ["email"],
				"properties": {
					"email": {
						"type": "string",
						"example": "info@mail.com"
					}
				}
			},
			"AuthEmailConfirmRequest": {
				"type":"object",
				"required": [
					"email",
					"code"
				],
				"properties": {
					"email": {
						"type": "string",
						"example": "info@mail.com"
					},
					"code": {
						"type": "string",
						"example": "1234"
					}
				}
			},
			"AuthJwtTokens": {
				"type": "object",
				"required": ["accessToken", "refreshToken"],
				"properties": {
					"accessToken": {
						"type": "string",
						"example": "jwt token string"
					},
					"refreshToken": {
						"type": "string",
						"example": "jwt token string"
					}
				}
			},
			"AuthRefreshRequest": {
				"type": "object",
				"required": ["refreshToken"],
				"properties": {
					"refreshToken": {
						"type":"string",
						"example": "jwt token string"
					}
				}
			},
			"UserData": {
				"type": "object",
				"required": ["email"],
				"properties": {
					"name": {
						"type": "string",
						"example": "Иван Иванов"
					},
					"email": {
						"type": "string",
						"example": "info@mail.ru"
					},
					"phone": {
						"type": "string",
						"example": "+71232211"
					},
					"roleId": {
						"type":"integer",
						"example": 1
					}
				}
			},
			"User": {
				"type": "object",
				"allOf": [
					{
						"$ref": "#/components/schemas/GeneralData"
					},
					{
						"$ref": "#/components/schemas/UserData"
					}
				],
				"properties": {
					"role": {
						"$ref": "#/components/schemas/Role"
					}
				}
			},
			"RoleData": {
				"type": "object",
				"required": [
					"name"
				],
				"properties": {
					"name": {
						"type": "string",
						"example": "Administrator"
					}
				}
			},
			"Role": {
				"type":"object",
				"allOf": [
					{
						"$ref": "#/components/schemas/GeneralData"
					},
					{
						"$ref": "#/components/schemas/RoleData"
					}
				]

			},
			"FileData": {
				"type":"object",
				"required": ["name", "hash", "link", "userId"],
				"properties": {
					"name": {
						"type": "string",
						"example": "file_name"
					},
					"extension": {
						"type": "string",
						"example": "png"
					},
					"hash": {
						"type": "string",
						"example": "hash_string"
					},
					"link": {
						"type": "string",
						"example": "/files/hash_string.png"
					},
					"userId": {
						"type": "integer",
						"example": "1"
					}
				}
			},
			"File": {
				"type": "object",
				"allOf": [
					{
						"$ref": "#/components/schemas/GeneralData"
					},
					{
						"$ref": "#/components/schemas/FileData"
					}
				],
				"properties": {
					"user": {
						"$ref": "#/components/schemas/User"
					}
				}
			}
		},
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "JWT"
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]

}